body {
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#loader-bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #bfbfbf;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#weather-bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#weather-container {
	background-color: #fff;
	margin-top: 14em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 11em;
	width: 18em;
	padding: 3em 0;
	border-radius: 6px;
	opacity: 0.6;
}

#weather-container p {
	cursor: default;
	font-size: 1.8em;
	font-weight: 500;
}

#weather-container p:nth-child(2) {
	cursor: pointer;
}

#weather-container i {
	font-size: 2.2em;
	font-weight: 500;
}

#footer {
	padding: .5em 0 .5em 1em;
	letter-spacing: 0.6px;
	background: #000;
	font-size: .8em;
	font-weight: 100;
	color: #fff;
}

#footer span {
	opacity: 0.8;
}

#footer a {
	text-decoration: none;
	color: #fff;
}
